/*---------------------------LOGIN------------------------------*/
#form-container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#form-box {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

#form-box input {
    font-size: large;
}


/*---------------------------------------------------------*/
.navbar{
    margin: 0;
    border-radius: 0;
}

.navbar-toggle{
    display: inline-block;
    margin-left: 10px;
}

.main {
    display: flex;
    background-color: #ecf0f5;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

.content {
    width: 100%;
    /*padding-top: 20px;*/
}

.menu {
    width: 0px;
    border-top: 1px solid #333;
    background-color: #222;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.menu.menu-open {
    width: 300px;
}

.menu ul{
    list-style: none;
    padding: 10px 0px;
}

.menu ul li.active{
    background-color:#080808;
}

.menu ul li a{
    display: block;
    color:#9d9d9d;
    padding: 10px 15px;
    white-space: nowrap;
}

.menu ul li:hover a, .menu ul li.active a{
    color: white
}

.btn-scrolltop {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    width: 34px; 
    height: 34px;
    color: rgb(238, 238, 238); 
    line-height: 34px; 
    text-align: center; 
    background-color: rgb(34, 45, 50); 
    cursor: pointer; 
    border-radius: 3px; 
    z-index: 99999; 
    opacity: 0.7;
}

.msg-required{
    color: #a94442;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;

}

.no-margin {
    margin: 0;
}

#event-module .module-title {
    color: #8A8180;
    font-size: 22px;
    font-family: 'Gotham-Book';
    text-transform: initial;
}

.fixed-rounded-button:hover {
    background-color: #449d44;
    transition: all 0.2s ease;
}

.fixed-rounded-button .glyphicon {
    font-size: 20px;
    padding-top: 25px;
}

.fixed-rounded-button {
    width: 80px;
    height: 80px;
    background-color: #337ab7;
    border-radius: 100%;
    border: 5px solid transparent;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 2;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
}

.bt-acoes,.ui-widget .ui-widget.bt-acoes{
    border:0;
    box-shadow:0 0 0;
    background:transparent!important;
    font-size:20px;
    width:25px;
    margin:0 3px; 
}

.bt-acoes.ui-button-icon-only .ui-button-text{
    padding:0; 
}

.bt-acoes .fa{
    border-radius:0;
    height:auto;
    /*color: white;*/
    /*width:25px;*/
    left:0;
    margin-left:0; 
}


.bt-acoes-add,.ui-widget .ui-widget.bt-acoes-add{
    border:0;
    box-shadow:0 0 0;
    background:transparent!important;
    font-size:26px;
    width:25px;
    margin:0 3px; 
}

.bt-acoes-add.ui-button-icon-only .ui-button-text{
    padding:0; 
}

.bt-acoes-add .fa{
    border-radius:0;
    height:auto;
    color: white;
    width:27px;
    left:0;
    margin-left:0; 
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar{
    /*background-color: #337ab7;*/
}
.ui-dialog.ui-widget-content a{
        color: #fff;
}

.ui-dialog.ui-widget-content .ui-dialog-title{
    color: black;
    display: inline-block;
    font-size: 16px;
}

.ui-dialog
{ position:fixed;
  overflow:hidden;
  padding:0!important;
  border:0;
  border-radius:0;
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.8);
  box-shadow:0 0 8px rgba(0,0,0,0.8);
}


.ui-dialog{ 
    left:50%!important;
    top:9%!important;
    margin-left:-450px;
    min-width:604px;
}

.ui-confirm-dialog .ui-dialog-title,.ui-dialog .ui-dialog-title
{ text-shadow:none;
  color:#3c3c3c;
  font-weight:normal;
  font-size:26px;
  margin:0; }

.ui-dialog .ui-dialog-content
{ padding:0;
  background-color:#fff;
  border:0; }

.ui-dialog .ui-dialog-content .ui-panel,.ui-dialog .ui-dialog-content .ui-panel .ui-panel-content
{ border:0;
  padding:0; }

.conteudo-dialog
{ padding:23px 30px; }

.footer-dialog
{ background-color:#fafafa;
  border-top:1px solid #dbdbdb;
  width:100%;
  float:left; }

.acao-dialog
{ padding:20px 17px;
  float:right; }

.acao-dialog .ui-button
{ margin-right:13px;
  width:136px; }


.ui-dialog .ui-dialog-content .ui-tabs-top
{ padding:0;
  border:0; }

.ui-dialog .ui-dialog-content .ui-tabs-top .ui-tabs-panel
{ padding:0; }

.ui-confirm-dialog .ui-dialog-content
{ padding:23px 30px 18px;
  ;background-color:#fff;
  border:0; }

.ui-confirm-dialog .ui-dialog-content .ui-icon
{ display:none; }

.ui-confirm-dialog .ui-dialog-footer
{ background-color:#fafafa;
  border-top:1px solid #dbdbdb;
  width:100%;
  float:left;
  padding:14px 17px;
  float:right; }
.headerDialogBordaB0 .ui-dialog-titlebar{border-bottom: 0}

.ui-autocomplete-input {
    width: 100% !important;
}

.container {
    margin-bottom: 40px;
}

.div-alerta-aviso {
    width: 90px;
    height: 40px; 
    background-color: rgb(50, 121, 128); 
    line-height: 40px;
    text-align: center; 
    color: white;
    margin: auto; 
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.alerta-aviso {
    position: absolute;
    background-color: rgb(0, 204, 255);
    border-radius: 1000px; 
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    top: 28px; 
    left: 65px;
}

.modal-dialog-prime{
    width: 600px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

}

.splitButton
{ }

.splitButton .ui-button-text-only
{ visibility:hidden;
  width:0; }

.splitButton .ui-splitbutton-menubutton
{ border:0;
  box-shadow:0 0 0;
  background:transparent;
  width:25px;
  margin:0; }

.splitButton .ui-splitbutton-menubutton .ui-icon-triangle-1-s
{ font-size:34px;
  line-height:17px;
  width:22px;
  left:0;
  margin-left:2px; }

.splitButton .ui-splitbutton-menubutton .ui-icon-triangle-1-s:before
{ content:"\f107"; }
