.navbar{
    margin: 0;
    border-radius: 0;
}

.navbar-toggle{
    display: inline-block;
    margin-left: 10px;
}

.main {
    display: flex;
    background-color: #ecf0f5;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

.content {
    width: 100%;
    /*padding-top: 20px;*/
}

.menu {
    width: 0px;
    border-top: 1px solid #333;
    background-color: #222;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
}

.menu.menu-open {
    width: 300px;
}

.menu ul{
    list-style: none;
    padding: 10px 0px;
}

.menu ul li.active{
    background-color:#080808;
}

.menu ul li a{
    display: block;
    color:#9d9d9d;
    padding: 10px 15px;
    white-space: nowrap;
}

.menu ul li:hover a, .menu ul li.active a{
    color: white
}

.btn-scrolltop {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    width: 34px; 
    height: 34px;
    color: rgb(238, 238, 238); 
    line-height: 34px; 
    text-align: center; 
    background-color: rgb(34, 45, 50); 
    cursor: pointer; 
    border-radius: 3px; 
    z-index: 99999; 
    opacity: 0.7;
}

.msg-required{
    color: #a94442;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;

}

.no-margin {
    margin: 0;
}

#event-module .module-title {
    color: #8A8180;
    font-size: 22px;
    font-family: 'Gotham-Book';
    text-transform: initial;
}

.fixed-rounded-button:hover {
    background-color: #449d44;
    transition: all 0.2s ease;
}

.fixed-rounded-button .glyphicon {
    font-size: 20px;
    padding-top: 25px;
}

.fixed-rounded-button {
    width: 80px;
    height: 80px;
    background-color: #337ab7;
    border-radius: 100%;
    border: 5px solid transparent;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 2;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
}

.bt-acoes,.ui-widget .ui-widget.bt-acoes{
    border:0;
    box-shadow:0 0 0;
    background:transparent!important;
    font-size:20px;
    width:25px;
    margin:0 3px; 
}

.bt-acoes.ui-button-icon-only .ui-button-text{
    padding:0; 
}

.bt-acoes .fa{
    border-radius:0;
    height:auto;
    /*color: white;*/
    /*width:25px;*/
    left:0;
    margin-left:0; 
}


.bt-acoes-add,.ui-widget .ui-widget.bt-acoes-add{
    border:0;
    box-shadow:0 0 0;
    background:transparent!important;
    font-size:26px;
    width:25px;
    margin:0 3px; 
}

.bt-acoes-add.ui-button-icon-only .ui-button-text{
    padding:0; 
}

.bt-acoes-add .fa{
    border-radius:0;
    height:auto;
    color: white;
    width:27px;
    left:0;
    margin-left:0; 
}

